/* 
  GIAO DIỆN CHUNG & METRICS
*/
div.stMetric {
    background-color: #f0f2f6;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 10px;
}


.block-container {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    max-width: 95% !important; 
}

/*
   2. NÚT ĐÓNG DIALOG
  */
button[aria-label="Close"] {
    color: #ff4b4b !important;
    background-color: #f0f2f6;
    border-radius: 50%;
    padding: 0.5rem;             
    transform: scale(1.1);       
    transition: all 0.2s;
}

button[aria-label="Close"]:hover {
    background-color: #ffcccc;
    color: red !important;
}

/* 
    DANH SÁCH LỊCH SỬ
*/
div[data-testid="stVerticalBlock"] > div > button {
    text-align: left !important;
    border: 1px solid #f0f2f6 !important;
    transition: background-color 0.2s;
}

div[data-testid="stVerticalBlock"] > div > button:hover {
    border-color: #1c7ed6 !important;
    color: #1c7ed6 !important;
    background-color: #e7f5ff !important;
}

section[data-testid="stSidebar"] {
    width: 300px !important;
}

/*TÙY CHỈNH THANH CUỘN (SCROLLBAR) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
}

/* ==============================================
    3. NÚT XÁC NHẬN TRONG DIALOG (ÉP RA GIỮA)
   ============================================== */

/* 1. Nhắm vào khung bao quanh nút của Streamlit */
div[data-testid="stDialog"] [data-testid="stVerticalBlockBorderWrapper"] .stButton {
    display: flex !important;
    justify-content: center !important; /* Ép nội dung bên trong ra giữa */
    width: 100% !important;
    margin-top: 20px !important;
}

/* 2. Cấu hình chính cái nút bấm */
div[data-testid="stDialog"] .stButton button {
    background-color: #ff4b4b !important;
    color: white !important;
    border-radius: 8px !important;
    padding: 10px 40px !important; /* Tăng độ dài nút cho đẹp */
    width: fit-content !important; /* Không cho nút dài hết màn hình */
    border: none !important;
    transition: transform 0.2s;
}

/* Hiệu ứng khi di chuột */
div[data-testid="stDialog"] .stButton button:hover {
    background-color: #d93434 !important;
    transform: scale(1.02); /* Nhích nhẹ khi hover */
}